html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    margin: 0px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


h3 {
    margin: 0px;
    font-size: 1.8rem;
}


.article__a {
    display: inline-block;
    color: rgb(65, 105, 225);
    border-bottom: 1px solid rgb(24, 78, 239); 
    /* border-bottom-colorはカラーのスタイルを指定できる */
    transition: border-bottom-color 0.3s;
}

.article__a:hover {
    opacity: 0.7;
    /* transparentは色を透明にするスタイル */
    border-bottom-color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 36px;
    width: 100%;
}

.header {
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
}

.header__h1 {
    margin-left: 32px;
}

.header__img {
    height: atuo;
    width: 150px;
    object-fit: contain;
}

.navigation {
    display: flex;
    /* 以下のようにcenterにすると、画面領域が小さくなった時に左側に隠れた要素が横スクロールでも表示できなくなる */
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(0, 139, 139);
    width: 100%;
    height: 50px;
    /* ちょっとおしゃれになる */
    box-shadow: 0px 3px 7px rgb(4, 199, 150);
}

.navigation__ul {
    display: flex;
    width: 100%;
    column-gap: 30px;
    margin-left: 32px;
}

.navigation__li {
    /* 右端がギリギリなので余白を持たせている */
    padding-right: 15px;
}

.navigation__a {
    color: rgb(255, 255, 255);
}

.navigation__a:hover {
    color: rgb(6, 249, 176);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    /* %にすれば表示領域によって要素も動く。固定したい時もあると思うからケースバイケース */
    width: 100%;
    /* 
     * headerでposition:fixed;を指定しているので標準フローが崩れている、
     * よって要素がheader領域に入り込まないようにしている 
     */
    margin-top: 140px;
}

.pickup {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    width: 100%;
    text-align: center;
}

/* 画像はpxで指定するとレスポンシブにできないので注意 */
.pickup__img {
    height: auto;
    width: 90%;
    object-fit: cover;
}

.main__contents {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    width: 70%; 
}

.article {
    width: 90%;
}

.article__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 8px;
}

.main__article__ul {
    display: flex;
    column-gap: 16px;
    font-size: 1.4rem;
}

.main__contents__articles--image {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.articles__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 30%;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0.064);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 100%;
    text-align: center;
    margin-top: 32px;
}

.profile__img {
    height: atuo;
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
}

.profile__p {
    padding: 0 16px;
}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 100%;
    text-align: center;
}

.ranking__img {
    height: 200px;
    width: 90%;
    object-fit: cover;
}

.ranking__h3 {
    font-weight: normal;
    font-size: 1.5rem;
}

.archive {
    width: 100%;
    text-align: center;
}

.archive__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(0, 139, 139);
    width: 90%;
    margin: 0 auto;
}

.archive__li {
    border-top: 1px solid rgb(0, 139, 139);
    width: 100%;
    text-align: center;
}

.footer {
    background-color: rgb(0, 139, 139);
    color: aliceblue;
    width: 100%;
}

.footer__container {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    min-height: 350px;
    width: 100%;
}

.about {
    margin: 0 auto;
    width: 30%;
}

.about__ul {
    width: 100%;
}

.about__li {
    position: relative; /** li要素を基準に位置操作を行う */
    /* ▶を配置するために余白を作る。親要素の横方向のpaddingなのでレスポンシブにも対応できる */
    padding: 0 20px;
}

.about__li::before {
    content: '▶'; /* 記号を表示 */
    position: absolute; /* li を基準に絶対位置で配置 */
    left: 0; /* li の左側に配置 */
    color: black; /* 記号の色 */
}

.menue {
    margin: 0 auto;
    width: 30%;
}

.menue__ul {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.804);
}

.menue__li {
    border-top: 1px solid rgba(0, 0, 0, 0.804);
}

.menue__a {
    display: inline-block;
    margin-left: 8px;
}

.twitter {
    margin: 0 auto;
    width: 30%;
}

.footer__author {
    text-align: center;
    font-size: 1.3rem;
}

/* タブレットの中でも最小の表示領域に合わせてスタイルを変える */
@media (max-width: 768px) {
    .navigation {   
        overflow-x: scroll;
    }
    .pickup {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    .main__contents {
        flex-direction: column;
        align-items: center;
    }    
    .main_articles {
        flex-direction: column;
        width: 100%;
    }
    .aside {
        width: 100%;
        background-color: white ;
    }
    .profile__img {
        width: 50%;
    }
    .footer__container {
        flex-direction: column;
        row-gap: 16px;
        height: auto;
    }
    .about {
        width: 90%;
    }
    .menue {
        width: 90%;
    }
    .twitter {
        width: 90%;
    }
}