html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


h3 {
    margin: 0px;
    font-size: 1.8rem;
}


.article__a {
    display: inline-block;
    color: rgb(65, 105, 225);
    border-bottom: 1px solid rgb(24, 78, 239); 
    /* border-bottom-colorはカラーのスタイルを指定できる */
    transition: border-bottom-color 0.3s;
}

.article__a:hover {
    opacity: 0.7;
    /* transparentは色を透明にするスタイル */
    border-bottom-color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 36px;
    width: 100%;
}

.header {
    width: 100%;
}

.header__h1 {
    margin-left: 100px;
}

.header__img {
    height: atuo;
    width: 150px;
    object-fit: contain;
}

.navigation {
    display: flex;
    align-items: center;
    background-color: rgb(0, 139, 139);
    height: 50px;
    width: 100%;
    /* ちょっとおしゃれになる */
    box-shadow: 0px 3px 7px rgb(4, 199, 150);
}

.navigation__ul {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    width: 100%;
}

.navigation__li {
    width: 100%;
    text-align: center;
}

.navigation__a {
    color: rgb(255, 255, 255);
}

.navigation__a:hover {
    color: rgb(6, 249, 176);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    /* %にすれば表示領域によって要素も動く。固定したい時もあると思うからケースバイケース */
    width: 100%;
}

.pickup {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    width: 100%;
    text-align: center;
}

.pickup__img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.main__contents {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    width: 70%;
    padding: 16px;
}

.main__contents__articles--created-at {
    display: inline;
    margin-right: 8px;
    font-size: 1.4rem;
}

.main__contents__articles--category {
    display: inline;
    font-size: 1.4rem;
}

.main__contents__articles--image {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.articles__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main__contents--aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 30%;
    margin-top: 16px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.064);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 100%;
}

.profile__img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 100%;
    text-align: center;
}

.ranking__img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.ranking__h3 {
    font-weight: normal;
    font-size: 1.5rem;
}

.archive {
    width: 100%;
    text-align: center;
}

.archive__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(0, 139, 139);
    width: 100%;
}

.archive__li {
    border-top: 1px solid rgb(0, 139, 139);
    width: 100%;
    text-align: center;
}

.footer {
    background-color: rgb(0, 139, 139);
    color: aliceblue;
    width: 100%;
}

.footer__container {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    min-height: 350px;
    width: 100%;
}

.about {
    margin: 0 auto;
    width: 30%;
    height: 220px;
}

.about__ul {
    width: 100%;
}

.about__li {
    position: relative; /** li要素を基準に位置操作を行う */
    padding: 0 8px;
}

.about__li::before {
    content: '▶'; /* 記号を表示 */
    position: absolute; /* li を基準に絶対位置で配置 */
    left: -10px; /* li の左側に余白をとる */
    color: black; /* 記号の色 */
}

.menue {
    margin: 0 auto;
    width: 30%;
    height: 220px;
}

.menue__ul {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.804);
}

.menue__li {
    border-top: 1px solid rgba(0, 0, 0, 0.804);
}

.menue__a {
    display: inline-block;
    margin-left: 8px;
}

.twitter {
    margin: 0 auto;
    width: 30%;
    height: 220px;
}

.footer__author {
    text-align: center;
    font-size: 1.3rem;
}